body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 0 10px;
}

.section {
  width: 30%;
  padding: 15px;
  background-color: #ddd;
  border: 1px solid black;
  position: relative;
}

.title {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
}

.section:nth-child(1) .title {
  background-color: #ffcccb; /* Light Red */
}

.section:nth-child(2) .title {
  background-color: #f08080; /* Light Coral */
}

.section:nth-child(3) .title {
  background-color: #ffebcd; /* Blanched Almond */
}

/* Tablet View */
@media screen and (max-width: 991px) {
  .container {
    flex-wrap: wrap;
  }
  .section {
    width: 48%;
    margin-bottom: 20px;
  }
  .section:last-child {
    width: 100%;
  }
}

/* Mobile View */
@media screen and (max-width: 767px) {
  .section {
    width: 100%;
    margin-bottom: 20px;
  }
}
