* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.section {
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    position: relative;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section p {
    margin-top: 40px;
    padding: 10px;
}

.section .title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    border: 1px solid black;
}

.section:nth-child(1) .title {
    background-color: #f08080; /* Chicken */
}

.section:nth-child(2) .title {
    background-color: #cd5c5c; /* Beef */
}

.section:nth-child(3) .title {
    background-color: #ffd700; /* Sushi */
}

@media (max-width: 991px) {
    .container {
        flex-direction: row;
    }
    .section {
        width: 48%;
    }
    .section:nth-child(3) {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .section {
        width: 100%;
    }
}
